.landing-1920x {
  width: 100%;
  height: 8900px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 948px;
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1725px) {
  .landing-1920x {
    height: auto;
  }
}
