.hero {
  height: 834px;
  width: 437px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 119px 0 0;
  box-sizing: border-box;
  min-width: 437px;
  max-width: 100%;
}
.frame-item {
  height: 1004px;
  width: 960px;
  position: relative;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  display: none;
  max-width: 100%;
}
.content1,
.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  flex: 1;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.05);
  background-color: #f5f5f5;
  padding: 68px 38px;
  min-width: 624px;
}
.content1 {
  width: 1529px;
  padding: 0 0 0 20px;
  gap: 112px;
}
.join-700k-customers2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.join-the-thousand2 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 135%;
  white-space: pre-wrap;
}
.join-700k-customers-parent {
  width: 665px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 42px;
  max-width: 100%;
}
.button2 {
  align-self: stretch;
  height: 46px;
}
.footer-columns1,
.newsletter {
  display: flex;
  align-items: flex-start;
}
.newsletter {
  width: 166px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 39px 0 0;
  box-sizing: border-box;
}
.footer-columns1 {
  width: 1680px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  flex-shrink: 0;
  gap: 20px;
}
.footer-content,
.footer-divider2 {
  box-sizing: border-box;
  max-width: 100%;
}
.footer-divider2 {
  width: 1681px;
  height: 1px;
  position: relative;
  border-top: 1px solid #1c1c1c;
  flex-shrink: 0;
}
.footer-content {
  align-self: stretch;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px 70px;
  gap: 70px;
}
.mask-group-icon2 {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.emiratigifts2 {
  width: 108px;
  position: relative;
  line-height: 120%;
  font-weight: 600;
  display: none;
}
.logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 18px;
  color: #000;
}
.emiratigifts-is-a2 {
  align-self: stretch;
}
.emiratigifts-is-a2,
.live-chat-support2 {
  position: relative;
  line-height: 135%;
}
.helpemiratigiftscom-support2 {
  font-weight: 700;
}
.adminemiratigiftscom-other2,
.helpemiratigiftscom-support2 {
  position: relative;
  line-height: 135%;
}
.company-details,
.helpemiratigiftscom-support-container,
.support-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.company-details,
.support-info {
  gap: 32px;
  max-width: 100%;
}
.company-details {
  width: 404px;
  gap: 48px;
}
.product2 {
  font-weight: 700;
}
.airtime-to-cash2,
.binance-wallet2,
.buy-airtime2,
.crypto-markets2,
.dogecoin-wallet2,
.ethereum-wallet2,
.litecoin-wallet2,
.product2,
.sell-bitcoin-in4,
.sell-bitcoin-in5,
.tether-usdt-wallet2,
.tron-wallet2 {
  position: relative;
  line-height: 135%;
}
.product-links,
.product-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.product-links {
  gap: 24px;
}
.resources3 {
  font-weight: 700;
}
.all-pages2,
.blog2,
.career2,
.check-gift-card2,
.contact-us6,
.developers2,
.gift-card-rates2,
.highest-gift-card2,
.how-to-sell2,
.privacy-policy2,
.promo-codes2,
.resources3,
.support-us2,
.terms-of-use2 {
  position: relative;
  line-height: 135%;
}
.resource-links,
.resource-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.resource-links {
  gap: 24px;
}
.gift-cards4 {
  font-weight: 700;
}
.amazon-gift-cards2,
.amex-gift-cards2,
.apple-gift-cards2,
.buy-gift-cards2,
.ebay-gift-cards2,
.gift-card-to6,
.gift-card-to7,
.gift-card-to8,
.gift-cards4,
.google-play-gift2,
.nike-gift-cards2,
.nordstorm-gift-cards2,
.razer-gold-gift2,
.sell-gift-card4,
.sell-gift-card5,
.sephora-gift-cards2,
.steam-gift-cards2,
.xbox-gift-cards2 {
  position: relative;
  line-height: 135%;
}
.company-info2,
.gift-card-links,
.gift-card-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.company-info2,
.gift-card-links {
  gap: 24px;
}
.company-info2 {
  flex-direction: row;
  justify-content: space-between;
  padding: 0 120px;
  gap: 20px;
  text-align: left;
  font-size: 16px;
  color: #1c1c1c;
  font-family: Rubik;
}
.company-info2,
.footer-child,
.frame-inner {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-inner {
  width: 1681px;
  position: relative;
  border-top: 1px solid #1c1c1c;
}
.footer-child {
  height: 1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
}
.giftsite-all-rights3 {
  position: relative;
  line-height: 135%;
  font-weight: 600;
}
.rights {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.blogger-icon3,
.dash-dash-icon3,
.facebook-icon3,
.instagram-icon3,
.paypal-icon3,
.youtube3 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.youtube3 {
  margin: 0;
}
.copyright-details,
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.copyright-details {
  align-self: stretch;
  justify-content: space-between;
  padding: 0 120px;
  gap: 20px;
  font-size: 16px;
}
.footer3,
.payment-1920 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  background-color: #fcf9f3;
  align-items: flex-start;
  padding: 64px 0;
  box-sizing: border-box;
  gap: 63.7px;
  max-width: 100%;
  text-align: left;
  font-size: 32px;
  color: #1c1c1c;
  font-family: Rubik;
}
.payment-1920 {
  width: 100%;
  position: relative;
  background-color: #fff;
  align-items: flex-end;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1225px) {
  .hero {
    flex: 1;
  }
  .company-info2,
  .content1 {
    flex-wrap: wrap;
  }
  .footer3 {
    padding-top: 42px;
    padding-bottom: 42px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .hero,
  .rectangle-parent {
    padding-top: 77px;
    box-sizing: border-box;
  }
  .rectangle-parent {
    padding-top: 44px;
    padding-bottom: 44px;
  }
  .footer-columns1 {
    flex-wrap: wrap;
  }
  .footer-content {
    height: auto;
  }
  .company-info2,
  .copyright-details {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
  .copyright-details {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer3 {
    gap: 32px;
  }
}
@media screen and (max-width: 750px) {
  .hero {
    min-width: 100%;
  }
  .rectangle-parent {
    padding-top: 29px;
    padding-bottom: 29px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .content1 {
    gap: 56px;
  }
  .join-700k-customers2 {
    font-size: 26px;
    line-height: 31px;
  }
  .join-700k-customers-parent {
    gap: 21px;
  }
  .footer-content {
    gap: 35px;
  }
  .company-info2,
  .copyright-details {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  .footer3 {
    gap: 16px;
    padding-top: 27px;
    padding-bottom: 27px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .hero {
    padding-top: 50px;
    box-sizing: border-box;
  }
  .content1 {
    gap: 28px;
  }
  .join-700k-customers2 {
    font-size: 19px;
    line-height: 23px;
  }
  .footer-content {
    gap: 17px;
  }
  .support-info {
    gap: 16px;
  }
  .company-details {
    gap: 24px;
  }
}
